<a href="https://colab.research.google.com/github/jha-vineet69/Minimizing-Churn-Rate/blob/main/Minimizing_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, precision_score, recall_score
from sklearn.feature_selection import RFE

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/jha-vineet69/Minimizing-Churn-Rate/main/churn_data.csv') # Users who were 60 days enrolled, churn in the next 30

### EDA

In [3]:
dataset.head(10) # Viewing the Data

    user  churn   age  ... rewards_earned  reward_rate  is_referred
0  55409      0  37.0  ...            NaN         0.00            0
1  23547      0  28.0  ...           44.0         1.47            1
2  58313      0  35.0  ...           65.0         2.17            0
3   8095      0  26.0  ...           33.0         1.10            1
4  61353      1  27.0  ...            1.0         0.03            0
5   3120      1  32.0  ...           55.0         1.83            0
6  41406      0  21.0  ...            2.0         0.07            0
7  67679      0  24.0  ...            1.0         0.11            0
8  21269      0  28.0  ...           26.0         0.87            1
9  25788      0  23.0  ...           32.0         1.07            0

[10 rows x 31 columns]

In [4]:
dataset.columns

Index(['user', 'churn', 'age', 'housing', 'credit_score', 'deposits',
       'withdrawal', 'purchases_partners', 'purchases', 'cc_taken',
       'cc_recommended', 'cc_disliked', 'cc_liked', 'cc_application_begin',
       'app_downloaded', 'web_user', 'app_web_user', 'ios_user',
       'android_user', 'registered_phones', 'payment_type', 'waiting_4_loan',
       'cancelled_loan', 'received_loan', 'rejected_loan', 'zodiac_sign',
       'left_for_two_month_plus', 'left_for_one_month', 'rewards_earned',
       'reward_rate', 'is_referred'],
      dtype='object')

In [5]:
dataset.describe().T # Distribution of Numerical Variables

                           count          mean  ...       75%      max
user                     27000.0  35422.702519  ...  53244.25  69658.0
churn                    27000.0      0.413852  ...      1.00      1.0
age                      26996.0     32.219921  ...     37.00     91.0
credit_score             18969.0    542.944225  ...    578.00    838.0
deposits                 27000.0      3.341556  ...      1.00     65.0
withdrawal               27000.0      0.307000  ...      0.00     29.0
purchases_partners       27000.0     28.062519  ...     43.00   1067.0
purchases                27000.0      3.273481  ...      1.00     63.0
cc_taken                 27000.0      0.073778  ...      0.00     29.0
cc_recommended           27000.0     92.625778  ...    164.00    522.0
cc_disliked              27000.0      0.050630  ...      0.00     65.0
cc_liked                 27000.0      0.013111  ...      0.00     27.0
cc_application_begin     27000.0      8.197852  ...     11.00    263.0
app_downloaded           27000.0      0.952481  ...      1.00      1.0
web_user                 27000.0      0.606074  ...      1.00      1.0
app_web_user             27000.0      0.561741  ...      1.00      1.0
ios_user                 27000.0      0.393926  ...      1.00      1.0
android_user             27000.0      0.587259  ...      1.00      1.0
registered_phones        27000.0      0.420926  ...      0.00      5.0
waiting_4_loan           27000.0      0.001296  ...      0.00      1.0
cancelled_loan           27000.0      0.018815  ...      0.00      1.0
received_loan            27000.0      0.018185  ...      0.00      1.0
rejected_loan            27000.0      0.004889  ...      0.00      1.0
left_for_two_month_plus  27000.0      0.173444  ...      0.00      1.0
left_for_one_month       27000.0      0.018074  ...      0.00      1.0
rewards_earned           23773.0     29.110125  ...     48.00    114.0
reward_rate              27000.0      0.907684  ...      1.53      4.0
is_referred              27000.0      0.318037  ...      1.00      1.0

[28 rows x 8 columns]

In [6]:
dataset[dataset.credit_score < 300]

        user  churn   age  ... rewards_earned  reward_rate  is_referred
7347   45685      1  22.0  ...           16.0         0.53            0
9244   33603      0  28.0  ...            1.0         0.04            0
11978   2465      0  32.0  ...           24.0         0.80            1
18857  33700      1  22.0  ...            6.0         0.20            0

[4 rows x 31 columns]

In [7]:
dataset = dataset[~(dataset['credit_score'] < 300)]

In [8]:
dataset.isna().any()

user                       False
churn                      False
age                         True
housing                    False
credit_score                True
deposits                   False
withdrawal                 False
purchases_partners         False
purchases                  False
cc_taken                   False
cc_recommended             False
cc_disliked                False
cc_liked                   False
cc_application_begin       False
app_downloaded             False
web_user                   False
app_web_user               False
ios_user                   False
android_user               False
registered_phones          False
payment_type               False
waiting_4_loan             False
cancelled_loan             False
received_loan              False
rejected_loan              False
zodiac_sign                False
left_for_two_month_plus    False
left_for_one_month         False
rewards_earned              True
reward_rate                False
is_referred                False
dtype: bool

In [9]:
dataset.isna().sum()

user                          0
churn                         0
age                           4
housing                       0
credit_score               8031
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3227
reward_rate                   0
is_referred                   0
dtype: int64

In [10]:
dataset = dataset.drop(columns = ['credit_score', 'rewards_earned'])